*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  width: 100%;
}

div {
  padding: 0.5em;
}

div:nth-child(3), div:nth-child(4) {
  writing-mode: vertical-rl;
  height: 250px;
  z-index: 50;
}

div:first-child {
  background-color: lightskyblue;
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
}

div:nth-child(2) {
  background-color: red;
  position: fixed;
  top: 250px;
  z-index: 100;
  width: 100%;
}

div:nth-child(3) {
  background-color: green;
  position: fixed;
  left: 0;
}

div:nth-child(4) {
  background-color: yellow;
  position: fixed;
  right: 0;
}

#menu {
  position: fixed;
  top: 100px;
  height: 100vH;
  width: 100%;
}

section.centered-container, #menu div, section.containers {
  background-color: lightgray;
}

div.centered-content {
  background-color: grey;
}

section.containers {
  width: 300px;
  position: fixed;
  bottom: 340px;
  height: 180px;
  left: 33%;
}

.one, .two, .three {
  padding: 1em 3em;
  width: 20%;
  color: white;
  font-weight: bold;
}

.one {
  background-color: rgba(255, 0, 0, 0.5);
  position: absolute;
  left: 30%;
  top: 30%;
  z-index: 30;
}

.two {
  background-color: rgba(0, 128, 0, 0.5);
  position: absolute;
  left: 35%;
  top: 40%;
  z-index: 20;
}

.three {
  background-color: rgba(0, 0, 255, 0.5);
  position: absolute;
  left: 40%;
  top: 50%;
  z-index: 10;
}

section.centered-container{
  height: 300px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

div.centered-content {
  padding: 0.5em 0;
  top: 125px;
}