* {
  margin: 0px auto;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
}

header {
  background-color: #1A3660;
  color: white;
  position: static;
  width: 100%;
  top: 0;
  height: 140px;
  text-align: center;
}

hr {
  border: none;
  background-color: #F58221;
  height: 1px;
}

#logo {
  height: 100px;
  padding: 1em 0 0.5em 0;
}

input[value="Sign In"] {
  position: fixed;
  right: 3em;
  top:3em;
  background-color: #F58221;
  padding: 0.5em 1em;
  border-color: white;
  border-radius: 3px;
  cursor: pointer;
}

nav {
  padding-top: 0.5em;
  margin: 0 auto;
}

nav a{
  color: #fff;
  text-decoration: none;
  padding: 1em;
  text-align: center;
}

header a:hover {
  font-weight: bold;
  text-decoration: underline;
}

main{
  height: calc(100vH - 140px);
  text-align: center;
  width: 100%;
  background-color: #00b0d8d1;
}

#img_portada {
  height: 400px;
  padding-top: 1em;
}